node_modules/
client/node_modules/
dist/
client/dist/
.env
client/.env.local
config*.yaml
!config-defaults.yaml
config*.yml
config/
!server/src/config/
!server/src/config/*.ts
secrets/
coverage/
.DS_Store

.venv-ansible/
ansible/.test-output/
