---
environmentType: {{ katavti_environment_type }}
server:
  host: 0.0.0.0
  port: {{ katavti_server_port }}
storage:
{% if katavti_azure_storage_enabled | bool %}
  module: azure
  azure:
    accountName: {{ katavti_azure_storage_account_name | to_json }}
    containerName: {{ katavti_azure_storage_name | to_json }}
    clientId: {{ katavti_key_vault_managed_identity_client_id | to_json }}
{% else %}
  module: filesystem
  dataDir: {{ katavti_container_data_dir }}
{% endif %}
sessions:
  module: {{ katavti_sessions_module }}
  lazy: {{ katavti_sessions_lazy | bool | lower }}
  cache: {{ katavti_sessions_cache | bool | lower }}
  filesystem:
    directory: /sessions
http:
  cors:
    origins: {{ katavti_cors_origins | to_json }}
    allowLoopbackInDevelopment: false
  identity:
    headerName: {{ katavti_identity_header_name }}
api:
  basePath: {{ katavti_api_base_path }}
auth:
  magicLinkBaseUrl: {{ katavti_magic_link_base_url | to_json }}
  mailFrom: {{ katavti_mail_from | to_json }}
config:
  files: []
  secretFiles: []
